.card__title{
    font-size: 18px;
}
.card__text{
    font-size: 13px;
    line-height: 15px;
}
.user__icon{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.author__name{
    align-self: center;
    font-size: 13px;
}
.title__height{
    height: 20px;
    overflow: hidden;
}